* {
    margin: 0;
    padding: 0;

}
body {
    height: 100vh;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    background: url(lGdYRW.jpg);
}

header {
    height: 100%;
    display: flex;
    justify-content: center;
    background-position: 100% 100%;  
}

.intro {
    background-color: rgb(255, 255, 255);
    height: 40%;
    width: 80%;
    border-radius: 1em;
    display: flex;
    padding: 10px;
    position: absolute;
    top:20%;
}
.textIntro {
    text-align: center;
    display: flex;
    font-weight: bold;
}

.IcanBtn {
    cursor: pointer;
    border: 0;
    border-radius: 0.8em;
    width: 30%;
    max-width: 40%;
    height: 6%;
    font-size: 1.3rem;
    position: absolute;
    top:90%;
    left: 35%;
    right: 50%;
    background: linear-gradient(to left,rgb(171, 235, 196),rgb(106, 204, 143),rgb(52, 230, 111));
}

.IcanBtn:hover {
    background: linear-gradient(to left,rgb(135, 212, 165),rgb(88, 202, 132),rgb(20, 189, 76));

}



